*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
}


/* Entry */

.entry{
    height: 100vh;
    width: 100vw;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.entry-left-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-right-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Entry-left-container */

.entry-left-inside{
    height: 90%;
    width: 90%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
}

.entry-left-inside img{
    height: 280px;
    width: 400px;
    border-radius: 30px;
}

/* Entry-right-container */

.entry-right-container .entry-title{
    font-size: 60px;
}

.entry-right-container .entry-description{
    font-size: 20px;
}

.entry-right-container a{
    margin-top: 60px;
    text-decoration: none;
    background-color: #e409ef;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 120px;
    text-align: center;
}

/* Login */

.login, .sign-up{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.login-card, .sign-up-card{
    height: 500px;
    width: 500px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.sign-up-card{
    height: 600px;
    width: 500px;
}

.login-title, .sign-up-title{
    text-align: center;
    font-size: 35px;
}

.login form, .sign-up form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login form input, .sign-up form input{
    width: 100%;
    background-color: #2b2b2b;
    border: 0.5px solid rgba(172, 172, 172, 0.5);;
    border-radius: 20px;
    box-shadow: 1px 2px 2px rgba(172, 172, 172, 0.5);
    padding: 10px;
}

.login form button, .sign-up form button{
    height: 40px;
    width: 180px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e409ef;
    cursor: pointer;
}

.login-links, .sign-up-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-links a, .sign-up-links a{
    text-decoration: none;
    text-align: center;
    color: rgba(138, 138, 138, 0.6);
}


/* Header */

header{
    height: fit-content;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-title{
    color: #fff;
    font-size: x-large;
    margin-left: 25px;
}

nav ul{
    width: fit-content;
    height: fit-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li a{
    background-color: #e409ef;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

nav ul li:hover{
    filter: brightness(1.5);
    transition: filter 0.3s ease-in-out;
}

.header-icons{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.header-icons a{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons button{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-icons svg{
    height: 20px;
    width: 20px;
}

/* Home */

.home{
    min-height: 100vh;
    width: 100%;
    background-color: #161616;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding: 10px 0;
}

.home-first-container, .home-scnd-container{
    height: 90%;
    width: 95%;
    margin: auto;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-first-container{
    grid-template-columns: 1fr 3fr;
}

.home-scnd-container{
    grid-template-columns: 1.5fr 1fr;
}

.home-first-container .new-game, .home-stats, .previous-sessions{
    height: 100%;
    width: 100%;
    background-color: #2b2b2b;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.home-first-container .home-lists{
    height: 100%;
    width: 100%;
    background-color: #2b2b2b;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

/* New Game */

.new-game{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.new-game-title{
    font-size: x-large;
    padding: 10px 0;
    font-weight: bold;
}

.new-game-params{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.new-game-params select{
    width: 90%;
    background-color: #2b2b2b;
    border-radius: 20px;
    padding: 5px;
    text-transform: capitalize;
}

.new-game-button{
    background-color: #e409ef;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Home Lists */

.home-lists{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.home-lists-title{
    font-size: x-large;
    padding: 10px 0;
    font-weight: bold;
}

.home-lists-list, .home-lists-list-titles{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;   
}

.home-lists-list-titles{
    margin: 10px 0 30px 0;
}

.home-lists-list{
    padding-bottom: 20px;
}

.home-lists-list-titles p{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.home-lists-list p{
    text-align: center;
    font-size: medium;
}

.home-lists-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home-lists-buttons button{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    background-color: #e409ef;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-lists-buttons svg{
    height: 18px;
    width: 18px;
}

/* previous sessions */

.previous-session-title{
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.previous-session-title p{
    font-size: x-large;
    font-weight: bold;
}

.previous-session-title svg{
    height: 30px;
    width: 30px;
}


/* Home stats */

.home-stats{
    display: flex;
    flex-direction: column;
}

.home-stats-title{
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-stats-title p{
    font-size: x-large;
    font-weight: bold;
}

.home-stats-title svg{
    height: 30px;
    width: 30px;
}



/* Lists */

.lists{
    height: 100vh;
    width: 100vw;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lists-title{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lists-title a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e409ef;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.lists-title svg{
    width: 30px;
    height: 30px;
}

.lists-container{
    height: 90%;
    width: 95%;
    margin: auto;
    background-color: #2b2b2b;
    border-radius: 30px;
    margin-bottom: 20px;
}

.lists-list, .lists-list-titles{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;   
}

.lists-list-titles{
    margin: 40px auto;
}

.lists-list{
    padding: 10px 0;
}

.lists-list-titles p{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.lists-list p{
    text-align: center;
}

.lists-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lists-buttons button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #e409ef;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lists-buttons svg{
    height: 20px;
    width: 20px;
}


/* New list */

.new-list{
    background-color: #161616;
    width: 100%;
    height: 100vh;
    padding: 30px 0;
}

.new-list-title{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.new-list form{
    width: 50%;
    height: 60%;
    background-color: #2b2b2b;
    margin: auto;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.new-list form label{
    width: 80%;
}

.new-list form input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2b2b2b;
    border: 0.5px solid rgba(172, 172, 172, 0.5);;
    border-radius: 20px;
    box-shadow: 1px 2px 2px rgba(172, 172, 172, 0.5);
}

.new-list form button{
     height: 40px;
    width: 180px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e409ef;
    cursor: pointer;
}

/* Selected list */

.selected-list{
    background-color: #161616;
    width: 100%;
    height: 100vh;
    padding: 30px 0 10px 0;
}

.selected-list-title{
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;
    text-transform: capitalize;
    font-weight: bold;
}

.selected-list-container{
    height: 90%;
    width: 90%;
    margin: auto;
    border: none;
    border-radius: 30px;
    background-color: #2b2b2b;
    overflow: scroll;
}

.selected-list-container-title, .word, .word-form, .edit-word{
    width: 100%;
    margin: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
}

.word{
    margin-bottom: 20px;
}

.selected-list-container-title{
    font-size: x-large;
    padding: 40px 0;
    font-weight: bold;
}

.word-form{
    margin-top: 20px;
}

.word-icons, .word-form-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.word-icons button, .word-form-icons button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #e409ef;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.word-icons svg, .word-form-icons svg{
    height: 20px;
    width: 20px;
}

.add-word{
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #e409ef;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
}

.word-form input, .edit-word input{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 15px auto 30px auto;
    background-color: #2b2b2b;
    border: 0.5px solid rgba(172, 172, 172, 0.5);;
    border-radius: 20px;
    box-shadow: 1px 2px 2px rgba(172, 172, 172, 0.5);
}

.word-form input::placeholder, .edit-word input::placeholder{
    text-align: center;
    text-transform: capitalize;
}



/* Game */

.game{
    height: 100vh;
    width: 100vw;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-title{
    width: 95%;
    margin: auto;
    padding: 30px 0;
}

.game-container{
    height: 90%;
    width: 95%;
    background-color: #2b2b2b;
    border-radius: 30px;
    margin-bottom: 20px;
}
